.page-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	height: 850px;
    /* grid-row: 1 / span 3; */
}

.side_bar {
    grid-row: 1 / span 3;
	background: linear-gradient(135deg,#E0115F,#4B0082);
	width: 150px;
	
}

.main_content {
    grid-row: 2 / 3;
    grid-column: 2 / span 2;
}

.footer {
    grid-column: 1 / span 3;
	
}

.logo-container{
	align-content: center;
}